---
interface Props {
  nextHref: string;
  nextTitle: string;
  external?: boolean;
}

const { nextHref, nextTitle, external } = Astro.props;
---

<section class="pt-0 pb-12">
  <div class="max-w-7xl mx-auto px-8 flex items-center justify-end">
<a href={nextHref} class="group flex items-center gap-3 text-lg font-semibold" target={external ? '_blank' : undefined} rel={external ? 'noopener' : undefined}>
      <slot />
      {nextTitle}
      <span class="group-hover:translate-x-1 transition-transform inline-block">→</span>
    </a>
  </div>
</section>
